@import "src/styles/main";

// Variables
$button-padding: 5px;
$icon-margin:    20%;

@mixin btn-type($color) {
    &.fill-fill {
        background-color: $color;
        border: 1px solid $color;
        transition: 0.3s;

        &:hover {
            background-color: transparent;
            cursor: pointer;
            transition: 0.3s;
        }

        &:focus {
            background-color: $color;
            transition: 0.3s;
        }

        &:active {
            background-color: $color;
            transition: 0.3s;
        }
    }

    &.fill-border {
        background-color: transparent;
        border: 1px solid $color;
        transition: 0.3s;
        
        &:hover {
            background-color: $color;
            cursor: pointer;
            transition: 0.3s;
        }

        &:focus {
            background-color: transparent;
            transition: 0.3s;
        }

        &:active {
            background-color: transparent;
            transition: 0.3s;
        }
    }

    &.fill-ghost {
        background-color: transparent;
        border: 1px solid transparent;
        transition: 0.3s;

        &:hover {
            border: 1px solid $color;
            cursor: pointer;
            transition: 0.3s;
        }

        &:focus {
            border: 1px solid $color;
            transition: 0.3s;
        }

        &:active {
            background-color: $color;
            transition: 0.3s;
        }
    }
}

    
// Properties
button {
    &.btn {
        display:         flex;
        justify-content: flex-start;
        align-items:     center;
    
        border: none;
        border-radius: 5px;
        
        font-size:   1.5rem;
        font-weight: 200;
        
        padding-inline: $button-padding;
        
        height: 50px;
        width:  200px;
    }


    // Button fill
    &.btn-primary {
        @include btn-type(color(primary));
    }
    
    &.btn-secondary {
        @include btn-type(color(secondary));
    }
    
    &.btn-accent {
        @include btn-type(color(accent));
    }
    
    &.btn-default {
        @include btn-type(color(default));
    }
    
    &.btn-success {
        @include btn-type(color(success));
    }
    
    &.btn-warning {
        @include btn-type(color(warning));
    }
    
    &.btn-danger {
        @include btn-type(color(danger));
    }


    // Button type
    &.type-default {
        justify-content: center;

        i {
            display: none;
        }
    }

    &.type-icon-left {
        flex-direction: row;

        i {
            margin-right: $icon-margin;
            margin-left: $icon-margin/3;
        }
    }

    &.type-icon-right {
        flex-direction: row-reverse;

        i {
            margin-left: $icon-margin;
            margin-right: $icon-margin/3;
        }
    }

    &.type-icon-only {
        font-size: 0;
        justify-content: center;

        i {
            font-size: initial;
        }
    }
}







