@use 'theme/palettes';
@use 'theme/colors' with (
    $palette: (
        primary: (
            h: 224,
            s: 47
        ),
        secondary: (
            h: 357,
            s: 90
        ),
        accent: (
            h: 39,
            s: 93
        ),
        neutral: (
            h: 230,
            s: 15
        )
    )
);

@use 'functions' as f;

// THEME
@forward 'theme/colors';
@forward 'theme/fonts';

// GENERATE
@forward 'theme/palettes';

$palettes: ();
$cats: ();

@each $key, $value in colors.$palette{
    $map: ();
    $map: map-merge($map, ($key: f.create_colour_map($value)));
    $palettes: map-merge($palettes, $map);
}

@each $key, $value in colors.$categories{
    $map: ();
    $map: map-merge($map, ($key: f.create_colour_map($value)));
    $cats: map-merge($cats, $map);
}

@function color($color: 'neutral', $tone: '500') {
    @return map-get(map-get($palettes, $color), $tone);
}

@function colorcat($cat: 'neutral', $tone: '500') {
    @return map-get(map-get($cats, $cat), $tone);
}


// UI COLORS
//
// You are free to edit the 'values' map to customize your colors
//
// -------------------------------------------------------------------------------------------

$values: (
    sky: (
        hue: 205,
        saturation: 98,
        light: 60
    ),
    sun: (
        hue: 26,
        saturation: 95,
        light: 70
    ),
    mars: (
        hue: 347,
        saturation: 83,
        light: 60
    ),
    astro: (
        hue: 229,
        saturation: 61,
        light: 50
    ),
    success: (
        hue: 160,
        saturation: 100,
        light: 50
    ),
    warning: (
        hue: 40,
        saturation: 100,
        light: 50
    ),
    danger: (
        hue: 6,
        saturation: 100,
        light: 62
    ),
    neutral: (
        hue: 230,
        saturation: 15,
        light: 70
    )
);


$colors: (
    sky: (
        0   : hsl(color($values, sky, hue), color($values, sky, saturation), 98),
        100 : hsl(color($values, sky, hue), color($values, sky, saturation), 95),
        200 : hsl(color($values, sky, hue), color($values, sky, saturation), 90),
        300 : hsl(color($values, sky, hue), color($values, sky, saturation), 85),
        400 : hsl(color($values, sky, hue), color($values, sky, saturation), 80),
        500 : hsl(color($values, sky, hue), color($values, sky, saturation), color($values, sky, light)),
        600 : hsl(color($values, sky, hue), color($values, sky, saturation), 40),
        700 : hsl(color($values, sky, hue), color($values, sky, saturation), 35),
        800 : hsl(color($values, sky, hue), color($values, sky, saturation), 30),
        900 : hsl(color($values, sky, hue), color($values, sky, saturation), 25),
        1000: hsl(color($values, sky, hue), color($values, sky, saturation), 10)
    ),
    sun: (
        0   : hsl(color($values, sun, hue), color($values, sun, saturation), 98),
        100 : hsl(color($values, sun, hue), color($values, sun, saturation), 95),
        200 : hsl(color($values, sun, hue), color($values, sun, saturation), 90),
        300 : hsl(color($values, sun, hue), color($values, sun, saturation), 85),
        400 : hsl(color($values, sun, hue), color($values, sun, saturation), 80),
        500 : hsl(color($values, sun, hue), color($values, sun, saturation), color($values, sun, light)),
        600 : hsl(color($values, sun, hue), color($values, sun, saturation), 40),
        700 : hsl(color($values, sun, hue), color($values, sun, saturation), 35),
        800 : hsl(color($values, sun, hue), color($values, sun, saturation), 30),
        900 : hsl(color($values, sun, hue), color($values, sun, saturation), 25),
        1000: hsl(color($values, sun, hue), color($values, sun, saturation), 10)
    ),
    mars: (
        0   : hsl(color($values, mars, hue), color($values, mars, saturation), 98),
        100 : hsl(color($values, mars, hue), color($values, mars, saturation), 95),
        200 : hsl(color($values, mars, hue), color($values, mars, saturation), 90),
        300 : hsl(color($values, mars, hue), color($values, mars, saturation), 85),
        400 : hsl(color($values, mars, hue), color($values, mars, saturation), 80),
        500 : hsl(color($values, mars, hue), color($values, mars, saturation), color($values, mars, light)),
        600 : hsl(color($values, mars, hue), color($values, mars, saturation), 40),
        700 : hsl(color($values, mars, hue), color($values, mars, saturation), 35),
        800 : hsl(color($values, mars, hue), color($values, mars, saturation), 30),
        900 : hsl(color($values, mars, hue), color($values, mars, saturation), 25),
        1000: hsl(color($values, mars, hue), color($values, mars, saturation), 10)
    ),
    astro: (
        0   : hsl(color($values, astro, hue), color($values, astro, saturation), 98),
        100 : hsl(color($values, astro, hue), color($values, astro, saturation), 95),
        200 : hsl(color($values, astro, hue), color($values, astro, saturation), 90),
        300 : hsl(color($values, astro, hue), color($values, astro, saturation), 85),
        400 : hsl(color($values, astro, hue), color($values, astro, saturation), 80),
        500 : hsl(color($values, astro, hue), color($values, astro, saturation), color($values, astro, light)),
        600 : hsl(color($values, astro, hue), color($values, astro, saturation), 40),
        700 : hsl(color($values, astro, hue), color($values, astro, saturation), 35),
        800 : hsl(color($values, astro, hue), color($values, astro, saturation), 30),
        900 : hsl(color($values, astro, hue), color($values, astro, saturation), 25),
        1000: hsl(color($values, astro, hue), color($values, astro, saturation), 10)
    ),
    success: (
        0   : hsl(color($values, success, hue), color($values, success, saturation), 98),
        100 : hsl(color($values, success, hue), color($values, success, saturation), 95),
        200 : hsl(color($values, success, hue), color($values, success, saturation), 90),
        300 : hsl(color($values, success, hue), color($values, success, saturation), 85),
        400 : hsl(color($values, success, hue), color($values, success, saturation), 80),
        500 : hsl(color($values, success, hue), color($values, success, saturation), color($values, success, light)),
        600 : hsl(color($values, success, hue), color($values, success, saturation), 40),
        700 : hsl(color($values, success, hue), color($values, success, saturation), 35),
        800 : hsl(color($values, success, hue), color($values, success, saturation), 30),
        900 : hsl(color($values, success, hue), color($values, success, saturation), 25),
        1000: hsl(color($values, success, hue), color($values, success, saturation), 10)
    ),
    warning: (
        0   : hsl(color($values, warning, hue), color($values, warning, saturation), 98),
        100 : hsl(color($values, warning, hue), color($values, warning, saturation), 95),
        200 : hsl(color($values, warning, hue), color($values, warning, saturation), 90),
        300 : hsl(color($values, warning, hue), color($values, warning, saturation), 85),
        400 : hsl(color($values, warning, hue), color($values, warning, saturation), 80),
        500 : hsl(color($values, warning, hue), color($values, warning, saturation), color($values, warning, light)),
        600 : hsl(color($values, warning, hue), color($values, warning, saturation), 40),
        700 : hsl(color($values, warning, hue), color($values, warning, saturation), 35),
        800 : hsl(color($values, warning, hue), color($values, warning, saturation), 30),
        900 : hsl(color($values, warning, hue), color($values, warning, saturation), 25),
        1000: hsl(color($values, warning, hue), color($values, warning, saturation), 10)
    ),
    danger: (
        0   : hsl(color($values, danger, hue), color($values, danger, saturation), 98),
        100 : hsl(color($values, danger, hue), color($values, danger, saturation), 95),
        200 : hsl(color($values, danger, hue), color($values, danger, saturation), 90),
        300 : hsl(color($values, danger, hue), color($values, danger, saturation), 85),
        400 : hsl(color($values, danger, hue), color($values, danger, saturation), 80),
        500 : hsl(color($values, danger, hue), color($values, danger, saturation), color($values, danger, light)),
        600 : hsl(color($values, danger, hue), color($values, danger, saturation), 40),
        700 : hsl(color($values, danger, hue), color($values, danger, saturation), 35),
        800 : hsl(color($values, danger, hue), color($values, danger, saturation), 30),
        900 : hsl(color($values, danger, hue), color($values, danger, saturation), 25),
        1000: hsl(color($values, danger, hue), color($values, danger, saturation), 10)
    ),
    neutral: (
        100 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) + 30),
        200 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) + 27),
        300 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) + 24),
        400 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) + 20),
        500 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light)),
        600 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) - 45),
        700 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) - 50),
        800 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) - 55),
        900 : hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) - 60),
        1000: hsl(color($values, neutral, hue), color($values, neutral, saturation), color($values, neutral, light) - 65)
    )
);

