<n-title text="PUBLIC"></n-title>

<form action="#">
    <f-input id="myInput" name="input" format="text" title="" type="success" fill="border" value="input" placeholder="Text" label="Label" caption="" disabled="" checked="" required="" align=""></f-input>
    <f-input id="mySecondInput" name="myCheckbox" format="checkbox" title="Checkbox 2" type="danger" fill="border" value="input 2" placeholder="" label="Label 2" caption="" disabled="" checked="checked" required="" align=""></f-input>
    <input type="submit">
</form>

<br/>
<f-button color="primary" fill="border" text="COUCOU" icon="home-outline" type="icon-left"></f-button>


