<n-title text="PUBLIC"></n-title>

<div class="button-container">
    <f-button color="primary" fill="fill" type="icon-left" text="Primary" icon="github"></f-button>
    <f-button color="secondary" fill="fill" type="icon-left" text="Secondary" icon="github"></f-button>
    <f-button color="accent" fill="fill" type="icon-left" text="Accent" icon="github"></f-button>  
</div>

<div class="button-container">
    <f-button color="primary" fill="border" type="icon-left" text="Primary" icon="github"></f-button>
    <f-button color="secondary" fill="border" type="icon-left" text="Secondary" icon="github"></f-button>
    <f-button color="accent" fill="border" type="icon-left" text="Accent" icon="github"></f-button>  
</div>

<div class="button-container">
    <f-button color="primary" fill="ghost" type="icon-left" text="Primary" icon="github"></f-button>
    <f-button color="secondary" fill="ghost" type="icon-left" text="Secondary" icon="github"></f-button>
    <f-button color="accent" fill="ghost" type="icon-left" text="Accent" icon="github"></f-button>  
</div>

