<n-title text="PUBLIC"></n-title>

<form action="#">
    <f-input id="myInput" name="input" format="radio" title="" type="success" fill="border" value="input" placeholder="" label="Label" caption="" disabled="" checked="" required="" align=""></f-input>
    <f-input id="myInput2" name="input" format="radio" title="" type="success" fill="border" value="input" placeholder="" label="Label 2" caption="" disabled="" checked="checked" required="" align=""></f-input>
    <f-input id="myInput3" name="input" format="checkbox" title="" type="success" fill="border" value="input" placeholder="" label="Label 2" caption="" disabled="" checked="" required="" align=""></f-input>
    <f-input id="myInput4" name="input" format="text" title="" type="info" fill="border" value="input" placeholder="" label="Label 2" caption="" disabled="" checked="" required="" align=""></f-input>

    <input type="submit">
</form>

<br/>
<f-button color="primary" fill="border" text="COUCOU" icon="home-outline" type="icon-left"></f-button>


