<form [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Username:</label>
            <f-input name="username" formControlName="username" ngDefaultControl></f-input>
        </div>
        <div class="form-field">
            <label>Password:</label>
            <f-input name="password" formControlName="password" type="password" ngDefaultControl></f-input>
        </div>
    </fieldset>

    <div class="form-buttons">
        <button class="button button-primary" (click)="login()">Login</button>
    </div>
</form>